<div class="payment-icons">
  <span>We Accept</span>
  <img src="{{ 'bitcoin.png' | asset_url }}" alt="Bitcoin">
  <img src="{{ 'ethereum.png' | asset_url }}" alt="Ethereum">
  <img src="{{ 'litecoin.png' | asset_url }}" alt="Litecoin">
  <img src="{{ 'dogecoin.svg' | asset_url }}" alt="Dogecoin">
  <img src="{{ 'usdc.png' | asset_url }}" alt="USD Coin">
</div>

