<div class="footer">
  <!-- LOGO Y TEXTO PRINCIPAL -->
  <div class="footer__column--left">
    <div class="footer__logo">
      {{ settings.footer.settings.logo.svg | raw }}
      <p class="text-center text-purple">{{ settings.footer.settings.logo.text_separator }}</p>
      <p class="footer__brand font-secondary">{{ settings.footer.settings.logo.brand_text }}</p>
    </div>
    <p class="footer__text">
      {{ settings.footer.settings.main_text | raw }}
    </p>
  </div>

  <!-- NAVEGACIÓN -->
  <div class="footer__nav">
    <div class="footer__nav-links">
      {% for link in settings.footer.settings.links %}
        {% if link.label contains "Policy" or link.label contains "Terms" %}
          <!-- Policies -->
          <div>
            <a href="{{ link.url }}">
              <p>{{ link.label }}</p>
            </a>
          </div>
        {% else %}
          <!-- Main nav links -->
          <div>
            <a href="{{ link.url }}">
              <p>{{ link.label }}</p>
               {% if currentPath == link.url %}
                    <div class="to-light-purple"></div>
                {% endif %}
            </a>
          </div>       
        {% endif %}
      {% endfor %}
    </div>

    <!-- Secondary links (links2) -->
        <div class="footer__policies">
        {% for link in settings.footer.settings.links2 %}
            <div>
            <a href="{{ link.url }}">
                <p>{{ link.label }}</p>
            </a>
            </div>
        {% endfor %}
        </div>

    <!-- PAYMENT METHODS -->
    <div>
      <p class="metodo-footer">
        {{ settings.footer.settings.payment_methods.text }}
        {% for icon in settings.footer.settings.payment_methods.icons %}
          {{ icon | raw }}
        {% endfor %}
      </p>
    </div>
  </div>

  <!-- SUSCRIPCIÓN Y REDES SOCIALES -->
  <div class="footer__column--right">
    <div class="footer__subscribe-text">
      <p>{{ settings.footer.settings.subscribe.text }}</p>
      <div class="footer__subscribe-box">
        <input
          placeholder="{{ settings.footer.settings.subscribe.placeholder }}">
        {{ settings.footer.settings.subscribe.button_icon | raw }}
      </div>

      <div class="footer__socials">
        {% for social in settings.footer.settings.socials %}
          <div>
            <a target="{{ social.target }}" href="{{ social.url }}">
              <p>{{ social.label }}</p>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>