<div class="marqueeBig">
  <div class="marquee__innerBig">
    <div class="marquee__itemBig ">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
      <p> {{ settings.marque.texto }} </p>
    </div>

    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
       <p> {{ settings.marque.texto }} </p>
    </div>

    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
       <p> {{ settings.marque.texto }} </p>
    </div>

    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
       <p> {{ settings.marque.texto }} </p>
    </div>

    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
       <p> {{ settings.marque.texto }} </p>
    </div>

    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
       <p> {{ settings.marque.texto }} </p>
    </div>
    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
       <p> {{ settings.marque.texto }} </p>
    </div>

    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
       <p> {{ settings.marque.texto }} </p>
    </div>

    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
       <p> {{ settings.marque.texto }} </p>
    </div>
    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
      <p>FREE SHIPPING FOR ORDERS OVER $100</p>
    </div>

    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
       <p> {{ settings.marque.texto }} </p>
    </div>

    <div class="marquee__itemBig">
      <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
        <path fill="rgb(118 44 251)"
          d="M8.501 16s-.493-2.715-2.637-4.86v.003a9.63 9.63 0 0 0-.865-.76C3.052 8.877 1 8.503 1 8.503s2.715-.494 4.861-2.639a9.25 9.25 0 0 0 1.087-1.313C8.182 2.748 8.498 1 8.498 1s.497 2.718 2.64 4.862c.283.282.574.531.866.758C13.95 8.126 16 8.5 16 8.5s-2.715.496-4.859 2.64a9.23 9.23 0 0 0-1.084 1.314C8.823 14.252 8.5 16 8.5 16Z"/>
      </svg>
       <p> {{ settings.marque.texto }} </p>
    </div>
    
  </div>
</div>
